<a href="https://colab.research.google.com/github/mesbasajib/winter-2022/blob/main/Day_5_Intro_to_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
from numpy.random import randn
np.random.seed(42)

# Series

In [2]:
labels = ['a', 'b','c', 'd']
my_data = [10, 20, 30, 40]
arr = np.array(my_data)
d = {'a':10, 'b':20, 'c':30, 'd':40}

In [3]:
d

{'a': 10, 'b': 20, 'c': 30, 'd': 40}

In [4]:
pd.Series(data=my_data, index=labels)

a    10
b    20
c    30
d    40
dtype: int64

In [5]:
# Create a series of ten cities and years

In [6]:
labels = ['NY','Tokyo','Paris','LA','Chigago',
          'NJ','PA','london','TX','FL']
data = [1600, 1650, 1700, 1750, 1800,
        1850, 1900, 1950, 2000, 2010]
arr = np.array(data)
d = {'NY':1600, 'Tokyo':1650, 'Paris':1700,'LA':1750, 'Chigago':1800, 'NJ':1850,
     'PA':1900, 'london':1950, 'TX':2000, 'FL':2010}

In [11]:
data = pd.DataFrame(randn(5, 4), ['A', 'B', 'C', 'D', 'E'], 
                    ['W', 'X', 'Y', 'Z'])

In [12]:
data

          W         X         Y         Z
A  0.738467  0.171368 -0.115648 -0.301104
B -1.478522 -0.719844 -0.460639  1.057122
C  0.343618 -1.763040  0.324084 -0.385082
D -0.676922  0.611676  1.031000  0.931280
E -0.839218 -0.309212  0.331263  0.975545

## Data Frames

In [13]:
df_1 = data['X']

In [14]:
df_2 = data['Y']

In [15]:
df_3 = data['Z']

In [18]:
df_4 = data['W']

In [20]:
df_1

A    0.171368
B   -0.719844
C   -1.763040
D    0.611676
E   -0.309212
Name: X, dtype: float64

In [21]:
data

          W         X         Y         Z
A  0.738467  0.171368 -0.115648 -0.301104
B -1.478522 -0.719844 -0.460639  1.057122
C  0.343618 -1.763040  0.324084 -0.385082
D -0.676922  0.611676  1.031000  0.931280
E -0.839218 -0.309212  0.331263  0.975545

In [26]:
data['new'] = data['Y'] + data['Z']

In [27]:
data

          W         X         Y         Z       new
A  0.738467  0.171368 -0.115648 -0.301104 -0.416752
B -1.478522 -0.719844 -0.460639  1.057122  0.596483
C  0.343618 -1.763040  0.324084 -0.385082 -0.060998
D -0.676922  0.611676  1.031000  0.931280  1.962280
E -0.839218 -0.309212  0.331263  0.975545  1.306809

In [28]:
data['new'] = data['Y'] + data['Z'] * data['X']

In [29]:
data

          W         X         Y         Z       new
A  0.738467  0.171368 -0.115648 -0.301104 -0.167248
B -1.478522 -0.719844 -0.460639  1.057122 -1.221602
C  0.343618 -1.763040  0.324084 -0.385082  1.002999
D -0.676922  0.611676  1.031000  0.931280  1.600641
E -0.839218 -0.309212  0.331263  0.975545  0.029613