<a href="https://colab.research.google.com/github/mesbasajib/winter-2022/blob/main/Looping_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Looping Question

In [ ]:
# Creating a list that five data variables

name = {"john", "jack", "smith", "josh", "nike"}

In [ ]:
# Print out variable by using a for loop

for x in name :
  print(x)

john
jack
nike
smith
josh

In [ ]:
# Modify your for loop to add a message to your for loop

for x in name:
  print('My friends are ' + x)

My friends are john
My friends are jack
My friends are nike
My friends are smith
My friends are josh

In [ ]:
# Use a for loop to print even numbers from 1-20

for x in range(1,20):
  if x % 2 == 0:
    print(x)

2
4
6
8
10
12
14
16
18

In [ ]:
# Sort your list in alphabetic order

name = ["john", "jack", "smith", "josh", "nike"]
 # name.sort()
print(sorted(name))

['jack', 'john', 'josh', 'nike', 'smith']

In [ ]:
# Print out the first three elements of your list

name = ["john", "jack", "smith", "josh", "nike"]
print (name[:3])

['john', 'jack', 'smith']

In [ ]:
# Create a loop to print the last 2 elements of your list

name = ["john", "jack", "smith", "josh", "nike"]
for x in name[-2:]:
   print(x)

josh
nike